// HR divider styling
// https://codepen.io/benknight/pen/zxxeay
.divider {
    display: flex;

    &:before,
    &:after {
        content: "";
        flex: 1;
    }
}

.line {
    align-items: center;
    margin: 1em -1em;

    &:before,
    &:after {
        height: 1px;
        margin: 0 1em;
    }
}

.glow {

    &:before,
    &:after {
        height: 10px;
        -webkit-filter: blur(2px);
        border-radius: 10px;
    }

    &:before {
        background: linear-gradient(to right, #00f3ff, #9100ff);
    }

    &:after {
        background: linear-gradient(to left, #00f3ff, #9100ff);
    }
}

.footer-line {
    align-items: center;
    margin: 1em -1em;

    &:before,
    &:after {
        height: 1px;
    }
}