html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

#wrapper {
    visibility: hidden;
}

body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

.h2-icon {
    padding-left: 10px;
}

.hidden,
.hidden .text-green,
.hidden .text-purple,
.hidden a {
    color: rgba(0, 0, 0, 0) !important;
}

.display-6 {
    line-height: 1.5 !important;
}

.parallax-mirror {
    z-index: 1 !important;
}

.parallax-window {
    height: 60vh;
    min-height: 400px;
    background: transparent;
}

#portfolio {
    padding-bottom: 5%;
}

#about,
#skills {
    padding-top: 5%;
}

#grace-hopper-quote {
    padding-top: 10%;
    padding-bottom: 5%;
}

#education {
    padding-top: 5%;
    padding-bottom: 5%;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.text-green {
    color: #00bc8c;
}

.text-purple {
    color: #8a71b9;
}

#home {
    height: 100vh;
}

#homeJumbotron {
    height: 100%;
}

/* Typewriter animation styling */
/* https://codepen.io/SitePoint/pen/ExvYWYK */
.animation-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    overflow: hidden;
}

.typed-out {
    overflow: hidden;
    border-right: .30em solid limegreen;
    border-radius: 4px;
    white-space: nowrap;
    animation:
        typing 1s steps(20, end) forwards,
        blinking 1.2s infinite;
    width: 0;
    animation-delay: 3s;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blinking {
    from {
        border-color: transparent
    }

    to {
        border-color: #20c997;
    }
}

.video-container {
    position: relative;
    background: linear-gradient(179deg, #000, #540999, #690979, #000);
}

.video-container video,
.video-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.video-container .caption {
    z-index: 1;
    position: relative;
    text-align: center;
}

/* Scroll indicator styling */
/* https://codepen.io/tr13ze/pen/VjLLgJ */
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

#myChart,
#myDonutChart {
    width: 100% !important;
    height: 100% !important;
}

.card.fade-in img {
    opacity: 1 !important;
    transition: 1s ease !important;
}

.card.fade-in img:hover {
    opacity: 0.5 !important;
    transition: 1s ease !important;
}

/* styling for blog button */
/* https://uiverse.io/adamgiebl/ugly-robin-41 */
.btn.blog-btn {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.btn.blog-btn:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.btn.blog-btn:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

.btn.blog-btn:hover:before {
    transform: translateX(15em);
}

p>.btn {
    margin-right: .5em;
}

/* styling for page loader */
/* https://uiverse.io/Nawsome/cowardly-squid-50 */

.svg-frame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
}

.svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
}

.svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
}

#out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #82ffc9;
}

#inner3,
#inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
}

#center1 {
    fill: #82ffc9;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes rotate16 {
    to {
        transform: rotate(360deg);
    }
}

#pageLoader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    transition: 1s 0.4s;
    margin: auto;
    overflow: hidden !important;
    height: 100%;
    width: 100%;
}

.emphasis-txt {
    font-family: 'Cedarville Cursive', cursive !important;
    background: linear-gradient(to right, #57f9d9, #6af2f9, #b761f9, #e26fff, #f579c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.emphasis-braces {
    font-size: 15vh;
    font-family: 'Cedarville Cursive', cursive !important;
    background: linear-gradient(180deg, #19ffd2, #8c00f3, #ff008d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.emphasis-quotes {
    font-size: 15vh;
    background: linear-gradient(180deg, #19ffd2, #8c00f3, #ff008d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.tldr-txt {
    font-family: 'Cedarville Cursive', cursive !important;
    color: #8a71b9;
}

.navbrand-emphasis {
    background: linear-gradient(to right, #57f9d9, #6af2f9, #b761f9, #e26fff, #f579c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.emphasis-quote {
    font-size: 5rem !important;
    font-family: 'Cedarville Cursive', cursive !important;
    background: linear-gradient(180deg, #ff197f, #f748d9, #fbb7dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5;
}

.emphasis-name {
    font-size: 2rem;
    text-align: center;
}

.hidden.emphasis-txt,
.hidden.emphasis-quotes,
.hidden.tldr-txt,
.hidden.emphasis-quote {
    background: inherit !important;
    -webkit-background-clip: inherit !important;
}

/*handle style for mobile*/
@media (max-width: 550px) {
    .display-4 {
        font-size: 2rem !important;
    }
}

@media (max-width: 300px) {
    .display-1 {
        font-size: 3rem !important;
    }

    .display-4 {
        font-size: 1.5rem !important;
    }

    h3,
    .h3 {
        font-size: 1rem !important;
    }

    h2,
    .h2 {
        font-size: 1.5rem !important;
    }

    .h2-icon {
        line-height: 1.75 !important;
    }

    .navbar-brand {
        font-size: 1rem !important;
    }
}